---

- name: Create and schedule a monthly backup
  hosts: prod
  become: true
  tasks:

  - name: Create the backup directory
    ansible.builtin.file:
      path: /mnt/lvm/backups
      state: directory
      mode: '4755' 
      owner: hayden
      group: hayden  

  - name: Create and compress the backup file using CRON
    ansible.builtin.cron:
      name: Monthly backup cron job
      month: "*"
      weekday: "?"
      minute: "0"
      day: "1"
      hour: "0"
      user: root
      job: "sudo tar -czvf /mnt/lvm/backups/backup-$(hostname)-$(date +%F) /etc"

  - name: Remove backups older than 6 months
    ansible.builtin.cron:
      name: Monthly cleanup cron job
      month: "*"
      weekday: "?"
      minute: "0"
      day: "1"
      hour: "0"
      user: root
      job: 'sudo find /mnt/lvm/backups/ -type f -mtime +60 -exec rm {} \;'
