---
- name: Update software for home prod cluster  
  hosts: all 
  become: true 

  tasks:

    - name: update and upgrade for Debian systems  
      ansible.builtin.apt:
        name: '*'
        state: latest
      when: 
        - ansible_facts['distribution'] == 'Debian'
        - "'prod' in group_names"

    - name: update and upgrade for RHEL systems
      ansible.builtin.dnf:
        name: '*'
        state: latest
      when: ansible_facts['distribution'] == 'RedHat'
